         
.mainHeader {
    @include position(fixed, 0, 0, auto, 0);
    @include transition(all, .4s);
    height: 100px;
    z-index: 100;
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        height: 120%;
        width: 100%;
        content: "";
        display: block;
        z-index: 0;
        opacity: 0;
         @include transition(all, .4s);
  
    }
    &.hasScrolled.active {
        &:after {
            opacity: 1;
        }
    }



    .wrapper {
        height: 100%;
        z-index: 10;
        position: relative;
        @include flex($justify: flex-end);
    }

    &__info {
        color: #fff;
    }
}



/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    opacity: 0;
    visibility: hidden;
    @include transition(all, .4s);
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 16px;
            a {
                color: #fff;
                font-size: 24px;
                font-weight: 900;
            }
        }
    }
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.social {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    a {
        color: #fff;
        font-size: 18px;
        font-weight: 100;
    }
}

.mail,
.tel {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

.logo {
    position: absolute;
    top: 12px;
    left: 0;
    z-index: 101;
}

/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: 110px;
    cursor: pointer;
    z-index: 101;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 3px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 10px;  margin: auto;}
    .middle_line           {   top: 18px;  margin: auto;}
    .bottom_line           {   bottom: 10px; margin: auto;}

    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

}
