.offer {
    height: 1200px;
    
    background-image: url("../images/offer-main.jpg");
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    
    h1 {
        font-size: 100px;
        color: #FFF;
    }
    .wrapper {
        position: relative;
        height: 100%;
        @include flex($direction: column, $alignI: center, $justify: center);
    }
}
