.offer {
    height: 725px;
    @media (max-width: 1700px) {
        height: 600px;
    }
    @media (max-width: 1500px) {
        height: 500px;
        max-width: 100%;
    }
    @media (max-width: 700px) {
        height: 350px;
    }
    &--small {
        height: 450px;
        @media (max-width: 1700px) {
            height: 400px;
        }
        @media (max-width: 1500px) {
            height: 350px;
            max-width: 100%;
        }
        @media (max-width: 700px) {
            height: 300px;
        }
    }
    &--big {
        height: 1200px;
        @media (max-width: 1700px) {
            height: 1100px;
        }
        @media (max-width: 1500px) {
            height: 840px;
            padding-top: 80px;
        }
        @media (max-width: 700px) {
            height: 600px;
        }
    }
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    
    h1 {
        font-size: 100px;
        color: #FFF;
        max-width: 670px;
        & + .book-block {
            margin-top: 125px;
        }
        @media (max-width: 1700px) {
            font-size: 90px;
            max-width: 600px;
            & + .book-block {
                margin-top: 100px;
            }
        }
        @media (max-width: 1500px) {
            font-size: 72px;
            max-width: 500px;
            line-height: 1;
            & + .book-block {
                margin-top: 20px;
            }
        }
        @media (max-width: 800px) {
            font-size: 58px;
        }
        @media (max-width: 600px) {
            font-size: 48px;
        }
        @media (max-width: 400px) {
            font-size: 38px;
        }
    }
    .wrapper {
        position: relative;
        height: 100%;
        text-align: left;
        @include flex($direction: column, $alignI: flex-start, $justify: center);
        padding-bottom: 200px;
    }

    .book-block {
        position: static;
        opacity: 1;
        visibility: visible;
        &__call {
            display: inline-block;
            -webkit-border-radius: 9px;
            border-radius: 9px;
                margin-top: 0;
        }
        p {
            padding-left: 0;
        }
        @media (max-width: 1300px) {
            display: block;
        }
    }
    &:after {
        width: 100%;
        content: "";
        display: block;
        height: 250px;
        position: absolute;
        bottom: -124px;
        pointer-events: none;
        -webkit-transform: skewY(7.2deg);
        -moz-transform: skewY(7.2deg);
        -ms-transform: skewY(7.2deg);
        -o-transform: skewY(7.2deg);
        transform: skewY(7.2deg);
        background-color: #fff;
        z-index: 0;
    }

}

.offer  + section,
.offer  + div {
    margin-top: -60px;
    background-color: transparent;
    position: relative;
    z-index: 2;
}


.book-block {
    font-size: 16px;
    font-weight: 900;
    color: $blue;
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 10;
    @media (max-width: 800px) {
        font-size: 14px;
    }
     @media (max-width: 1300px) {
         display: none;
     }
    @include transition(all,.2s);
    &__title {
        font-size: 36px;
        letter-spacing: 0.025em;
        display: block;
        margin-bottom: 20px;
        font-weight: 900;
        @media (max-width: 800px) {
            font-size: 28px;
            margin-bottom: 10px;
        }
        @media (max-width: 600px) {
            font-size: 24px;
        }
        @media (max-width: 400px) {
            font-size: 20px;
        }
    }
    &__call {
        background-color: $blue;
        color: #FFF;
        line-height: 42px;
        padding: 0 20px;
        display: block;
        text-align: center;
        margin-top: 20px;
        @media (max-width: 800px) {
            margin-top: 10px;
        }
        @media (max-width: 600px) {
            line-height: 35px;
            padding: 0 14px;
        }
        i {
            display: inline-block;
            vertical-align: middle;
            content: "";
            margin-right: 2px;
            margin-top: -3px;
            width: 16px;
            height: 16px;
            background-image: url("../images/call.svg");
            -webkit-background-size: 100% 100%;
                 -o-background-size: 100% 100%;
                    background-size: 100% 100%;
        }
    }
    span {
        span {
            font-weight: 300;
        }
    }
    p {
        margin-top: 20px;
        @media (max-width: 800px) {
            margin-top: 10px;
        }
    }
}



.textBlock {
    position: relative;
    .wrapper-fluid {
        position: relative;
    }
    h2,
    h1 {
        line-height: 1;
        margin-bottom: -12px;
        text-align: left;
        position: relative;
        z-index: 3;
        color: $blue;
        &.top {
            margin-bottom: 80px;
        }
        @media (max-width: 1500px) {
            margin-bottom: -10px;
        }
        @media (max-width: 600px) {
            margin-bottom: -4px;
        }
    }
    &__text {
        position: relative;
        z-index: 2;
        padding: 100px;
        padding-left: calc((100% - 1720px) / 2);
        width: 1050px;
        font-size: 24px;
        letter-spacing: 0.025em;
        max-width: 100%;
        @media (max-width: 1740px) {
            padding: 80px;
            padding-left: 40px;
            width: 950px;
            font-size: 22px;
        }
        @media (max-width: 1500px) {
            padding: 60px;
            width: 800px;
            font-size: 20px;
        }
        @media (max-width: 1200px) {
            padding-left: 15px;
            width: 100%;
            padding-right: 15px;
            font-size: 18px;
        }
        @media (max-width: 600px) {
            font-size: 16px;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        &--main {
            background-color: $blue;
            color: #FFF;
             -webkit-box-shadow: 0 0 87px rgba(0,0,0,.55);
            box-shadow: 0 0px 87px rgba(0,0,0,.55);
        }
        p {
            margin-bottom: 20px;
            line-height: 1.2;
            &:last-child {
                margin-bottom: 0;
            }
        }
        h3 {
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 20px;
        }
    }
    &--big {
        .textBlock__text {
            width: 1250px;
            padding-top: 85px;
            padding-bottom: 85px;
            padding-right: 85px;
            font-size: 18px;
            @media (max-width: 1740px) {
                padding: 80px;
                padding-left: 40px;
                width: 1150px;
            }
            @media (max-width: 1500px) {
                padding: 60px;
                width: 900px;
                font-size: 17px;
            }
            @media (max-width: 1200px) {
                padding-left: 15px;
                width: 100%;
                padding-right: 15px;
                font-size: 16px;
            }
            @media (max-width: 600px) {
                font-size: 16px;
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }   
    }
    &--large {
        .textBlock__text {
            width: 1360px;
            padding-top: 90px;
            padding-bottom:90px;
            padding-right:90px;
            font-size: 18px;
        }   
    }
    &__relaventImg {
        position: absolute;
        right: 0;
        top: 60px;
        max-width: calc(100% - 970px);
        @media (max-width: 1500px) {
            max-width: calc(100% - 870px);
        }
        @media (max-width: 1300px) {
            display: none;
        }
    }
    .more {
        margin-left: calc((100% - 1720px) / 2);
        margin-top: -10px;
        @media (max-width: 1740px) {
            margin-left: 60px;
        }
        @media (max-width: 1200px) {
            margin-left: 15px;
        }
    }
}
.home-section {
    .textBlock__relaventImg {
        right: -3%;
        @media (max-width: 1700px) {
            right: 0;
        }
    }
}

.textBlock--team {
    .textBlock__relaventImg {
        right: -3%;
        top: 14%;
        @media (max-width: 1700px) {
            right: 0;
        }
    }
}

.more {
    color: $blue;
    font-size: 24px;
    font-weight: 900;
    display: block;
    @media (max-width: 1700px) {
        font-size: 22px;
    }
    @media (max-width: 1500px) {
        font-size: 20px;
    }
    @media (max-width: 1200px) {
        font-size: 18px;
    }
    @media (max-width: 600px) {
        font-size: 16px;
    }
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-left: 12px;
        height: 17px;
        width: 21px;
        background-image: url("../images/more.svg");
        -webkit-background-size: 100% 100%;
             -o-background-size: 100% 100%;
                background-size: 100% 100%;
    }
}


.services {
    background-repeat: no-repeat;
    background-position: 104% 90%;
    margin-top: 150px;
    padding-bottom: 0;
    @media (min-width: 1300px) {
        background-image: url("../images/tool-3.png");
    }
    @media (max-width: 1700px) {
        background-position: 114% 90%;
        margin-top: 120px;
    }
    @media (max-width: 1500px) {
        background-position: 130% 90%;
        margin-top: 60px;
    }
    @media (max-width: 1300px) {
        margin-top: 40px;
        padding-top: 0;
    }
}
.services-list {
    width: 900px;
    margin: 30px auto 0;
    max-width: 100%;
}
.service {
    margin: 40px 0;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity:.4;
    @include transition(all,.2s);
    @media (max-width: 1500px) {
        margin: 20px 0;
    }
    @media (max-width: 700px) {
        width: 50%;
        margin: 10px 0;
    }
    @media (max-width: 360px) {
        width: 100%;
    }
    &:hover {
        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
        opacity: 1;
    }
    img {
        display: block;
        margin: 0 auto 16px;
        height: 135px;
    }
    p {
        display: block;
        text-align: center;
        font-size: 24px;
        font-weight: 900;
        color: $blue;
        min-height: 60px;
        padding: 0 10px;
        @media (max-width: 1700px) {
            font-size: 22px;
        }
        @media (max-width: 1500px) {
            font-size: 20px;
        }
        @media (max-width: 1200px) {
            font-size: 18px;
        }
        @media (max-width: 600px) {
            font-size: 16px;
            min-height: 40px;
        }
        @media (max-width: 360px) {
            min-height: 0;
        }
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            margin-right: -1px;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            max-width: 98%;
        }
    }
}