.offer {
    height: 1200px;
    
    background-image: url("../images/offer-main.jpg");
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    
    h1 {
        font-size: 100px;
        color: #FFF;
        max-width: 670px;
        & + .book-block {
            margin-top: 145px;
        }
    }
    .wrapper {
        position: relative;
        height: 100%;
        text-align: left;
        @include flex($direction: column, $alignI: flex-start, $justify: center);
    }
}

.book-block {
    font-size: 16px;
    font-weight: 900;
    color: $blue;
    &__title {
        font-size: 36px;
        letter-spacing: 0.025em;
        display: block;
        margin-bottom: 20px;
        font-weight: 900;
    }
    &__call {
        background-color: $blue;
        color: #FFF;
        line-height: 42px;
        padding: 0 20px;
        display: inline-block;
        -webkit-border-radius: 9px;
                border-radius: 9px;
        &:before {
            display: inline-block;
            vertical-align: middle;
            content: "";
            margin-right: 2px;
            margin-top: -3px;
            width: 16px;
            height: 16px;
            background-image: url("../images/call.svg");
            -webkit-background-size: 100% 100%;
                 -o-background-size: 100% 100%;
                    background-size: 100% 100%;
        }
    }
    span {
        span {
            font-weight: 300;
        }
    }
    p {
        margin-top: 20px;
    }
}


.textBlock {
    h2 {
        line-height: 1;
        margin-bottom: -12px;
    }
    &__text {
        padding: 100px;
        padding-left: calc((100% - 1720) / 2);
        width: 1050px;
        font-size: 24px;
        letter-spacing: 0.025em;
        @media (max-width: 1740px) {
            padding-left: 40px;
        }
        &--main {
            background-color: $blue;
            color: #FFF;
             -webkit-box-shadow: 0 0 87px rgba(0,0,0,.55);
            box-shadow: 0 0px 87px rgba(0,0,0,.55);
        }
    }
}