.sertificates {
    padding: 160px 0 75px;
}

.sertificates-slider {

    .slick-list {
        padding: 15px 0;
    }

    .slide {
        padding: 0 10px;

        a {
            display: block;
            

            &:hover img {
                -webkit-transform: scale(1.04);
                -ms-transform: scale(1.04);
                -o-transform: scale(1.04);
                transform: scale(1.04);
            }
        }

        img {
            display: block;
            max-width: 100%;
            border: 5px solid $blue;
            margin: 0 auto;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    }
}