.textBlock--services {
    .book-block {
        position: absolute;
        right: 0;
        top: 70px;
        z-index: 3;
        &__call {
            display: block;
            margin-top: 20px;
            -webkit-border-radius: 0;
                    border-radius: 0;
        }
        p {
            padding-left: 20px;
        }
    }
}
.services-section {
    padding-top: 0;
    padding-bottom: 80px;
    overflow: hidden;

    @media (min-width: 1201px) {
        background-image: url(../images/skew-bg-services.jpg);
        background-position: 50% 100%;
        background-repeat: no-repeat;
    }

    @media (min-width: 1921px) {
        background-size: 100%;
    }


    .flex-row {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;

        .col-6 {
            @media (max-width: 1200px) {
                width: 100%;
                padding: 0 20px;
            }
        }
    }
}

.service-item {
    display: block;
    background-color: #fff;
    padding: 40px 80px;
    background-size: auto 100%;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    color: #000;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 490px;

    @media (max-width: 1740px) {
        padding: 20px 40px;
        font-size: 16px;
        height: 300px;
    }

    @media (max-width: 1200px) {
        height: auto;
    }

    @media (max-width: 767px) {
        padding: 20px;
    }

    &:hover {
        color: #fff;
        box-shadow: 21px 21px 87px 0px rgba(0, 0, 0, 0.54); 
        z-index: 5;
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #fefefe;
        z-index: -1;
        opacity: 0.5;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        @media (max-width: 767px) {
            opacity: .7;
        }
    }

    &:hover:after {
        opacity: 0.9;
        background-color: $blue;
    }


    &__image {
        display: block;
        width: 140px;
        margin: 0;
        margin-bottom: 25px;

        @media (max-width: 1740px) {
            width: 110px;
            margin-bottom: 10px;
        }

        @media (max-width: 1200px) {
            width: 90px;
        }

        img {
            display: block;
            width: 100%;

            &.normal {
                display: block;
            }

            &.hover {
                display: none;
            }
        }
    }

    &:hover {
        img.normal {
            display: none;
        }
        img.hover {
            display: block;
        }
    }

    


    &__title {
        color: $blue;
        font-size: 30px;
        margin-bottom: 15px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        @media (max-width: 1740px) {
            font-size: 24px;
            margin-bottom: 10px;
        }
    }

    &:hover &__title {
        color: #fff;
    }

    &__excerpt {
        width: 550px;
        max-width: 100%;
    }

}