
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}

body {
  font-family: 'Roboto';
  font-size: 18px;
  letter-spacing: 0.025em;
  font-weight: 300;
  -ms-overflow-x: hidden;
      overflow-x: hidden;
  @media (max-width: 800px) {
      font-size: 15px;
  }
  @media (max-width: 600px) {
      font-size: 14px;
  }
}

b,
strong {
  font-weight: 900;
}


h1,h2 {
  font-weight: 900;
  letter-spacing: 0.025em;
  font-size: 100px;
   @media (max-width: 1700px) {
        font-size: 90px;
    }
    @media (max-width: 1500px) {
        font-size: 72px;
    }
    @media (max-width: 800px) {
        font-size: 58px;
    }
    @media (max-width: 600px) {
            font-size: 48px;
        }
        @media (max-width: 400px) {
            font-size: 38px;
        }
}
h2 {
  color: $blue;
}

section {
  position: relative;
  z-index: 1;

  & > * {
    position: relative;
    z-index: 2;
  }

  &:not(.offer):last-of-type {
    overflow: hidden;
    &:after {
      content: '';
      width: 400px;
      height: 200px;
      background-image: url(../images/teath-sertificates.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 50% 0;
      position: absolute;
      left: 40px;
      bottom: 0;
      z-index: 1;
    }
  }
}

.home-section {

    background-image: url("../images/skew-bg-1.jpg"), url(../images/skew-bg-2.jpg);
    background-position: 50% 25%, 50% 100%;
    background-repeat: no-repeat;  
    -webkit-background-size: 100% auto;
         -o-background-size: 100% auto;
            background-size: 100% auto;

  @media (max-width: 1700px) {
      background-position: 50% 17%, 50% 100%;
  }
  @media (max-width: 1500px) {
      background-position: 50% 15%, 50% 100%;
  }
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
    padding: 0 10px;
	text-align: center;
    max-width: 100%;
}

.wrapper-fluid {
  width: 1720px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 1740px) {
    width: 100%;
    padding: 0 40px;
  }
  @media (max-width: 1740px) {
    width: 100%;
    padding: 0 40px;
  }
  @media (max-width: 1200px) {
    width: 100%;
    padding: 0 15px;
  }
}

.section {
  padding: 60px 0;
}

.flex-row {
    @include flex($alignI: flex-start, $justify: flex-start);
    margin: 0 -10px;

    &.flex-row-middle {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
[class*='col-'] {
    padding: 0 10px;
}

.col-1  { width: 8.33%; }
.col-2  { width: 16.66%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }



/* Set default opacity for input's placeholders equal to 1 */
::-webkit-input-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}
:-ms-input-placeholder {
  opacity: 1;
}
:-moz-placeholder {
  opacity: 1;
}


.Прямоугольник_28 {
  background-image: -moz-linear-gradient( 90deg, rgb(206,206,206) 19%, rgba(206,206,206,0.01) 19%, rgb(66,66,66) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(206,206,206) 19%, rgba(206,206,206,0.01) 19%, rgb(66,66,66) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(206,206,206) 19%, rgba(206,206,206,0.01) 19%, rgb(66,66,66) 100%);
  position: absolute;
  left: 0px;
  top: -60px;
  width: 1920px;
  height: 239px;
  z-index: 128;
}
